@media print {
  .ant-pro-page-container-warp,
  .ant-pro-grid-content,
  .ant-card {
    margin: 0 !important;
    padding: 0 !important;
  }

  .ant-btn,
  .ant-pro-page-container-back {
    display: none !important;
  }

  .ant-descriptions,
  .ant-table {
    width: 100% !important;
  }

  .ant-table {
    font-size: 12px !important;
  }

  .ant-descriptions-title {
    font-size: 16px !important;
  }

  .ant-tag {
    border: 1px solid #000 !important;
    color: #000 !important;
    background: none !important;
  }
} 